In [1]:
import FinanceDataReader as fdr

In [2]:
samsung_df = fdr.DataReader('005930', '2020') # 2020년 ~ 현재

In [3]:
samsung_df

              Open    High     Low   Close    Volume    Change
Date
2020-01-02   55500   56000   55000   55200  12993228 -0.010753
2020-01-03   56000   56600   54900   55500  15422255  0.005435
2020-01-06   54900   55600   54600   55500  10278951  0.000000
2020-01-07   55700   56400   55600   55800  10009778  0.005405
2020-01-08   56200   57400   55900   56800  23501171  0.017921
...            ...     ...     ...     ...       ...       ...
2025-12-16  104900  105600  102700  102800  18852079 -0.019084
2025-12-17  103500  108100  103400  107900  22297611  0.049611
2025-12-18  106400  108200  105700  107600  20445631 -0.002780
2025-12-19  109700  109700  106200  106300  25917098 -0.012082
2025-12-22  109700  110500  109300  110500  24705413  0.039511

[1468 rows x 6 columns]

In [ ]:
# TODO : 네이버 뉴스에서 삼성전자의 2020년 1월2일 이후 날짜 별 해드라인을 받아온다.

# TODO : 날짜 별 주가와 헤드라인을 Json형태로 만들어둔다.